# CODEOWNERS
# ========================

# This file tells who is responsible for code in this repository

# Default owner for all files
* @Abhikkv92

# =================================================================================
# DEVELOPED BY: ABHINAV VERMA | EMAIL: Abbykkv@gmail.com | CREATED: April 24, 2026
# GitHub: https://github.com/abhikkv92-create/ABBY-ORA-SKILLS-
# =================================================================================